.page-aiassistant {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .aiassistant-wrapper {
        flex: 1;
        height: 0;
        display: flex;
        flex-direction: column;
        position: relative;
        .aiassistant-head {
            display: flex;
            align-items: center;
            padding-bottom: 16px;
            margin: 32px 32px 16px;
            border-bottom: 1px solid #F4F4F5;
            .aiassistant-nav {
                flex: 1;
                display: flex;
                align-items: center;
                > h1 {
                    color: $primary-title-color;
                    font-size: 28px;
                    font-weight: 600;
                }
                .aiassistant-setting {
                    cursor: pointer;
                    margin-left: 12px;
                    > i {
                        font-size: 38px; 
                        color:lightslategray; 
                        font-weight: 500;
                    }
                }
                &:hover {
                    .file-refresh {
                        display: block;
                    }
                }
                .nav-select{
                    margin-left: 20px;
                }
            }

            
            .aiassistant-historychat {
                flex-shrink: 0;
                margin-left: 22px;
                cursor: pointer;
                    > i {
                        font-size: 38px; 
                        color:lightslategray; 
                        font-weight: 500;
                    }
                &.has-value,
                &:hover {
                    .ivu-input-wrapper {
                        .ivu-input {
                            width: 160px;
                            padding-left: 14px;
                        }
                    }
                }
            }
            
        }
        .aiassistant-setting-header{
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        .aiassistant-content {
            padding: 18px 20px;
            .chatBox {
                width: 100%;
                flex: 1;
                overflow-y: auto;
                padding: 20px;
                height: calc(80vh - 10px); /* 设置合适的高度 */
                position: relative; /* 添加相对定位 */
                .message-content {
                    display: flex;
                    // align-items: flex-end; /* 垂直对齐 */
                    margin-bottom: 15px; /* 间距 */
                    .text-content {
                        max-width: 70%; /* 最大宽度 */
                        padding: 10px;
                        border-radius: 15px;
                        word-wrap: break-word; /* 自动换行 */
                        text-align: left; /* 机器人消息左对齐 */
                    }
                }
                .bot-message {
                    justify-content: flex-start; /* 头像和消息在左侧 */
                    .text-content {
                        background-color:#f4f5f7; /* 机器人消息背景色 */
                        color:#303133;
                        border-radius: 2px 8px 8px 8px; /* 圆角 */
                    }
                }
                .user-message {
                    justify-content: flex-end; /* 头像和消息在右侧 */
                    .text-content {
                        background-color: #84c66a; /* 用户消息背景色 */
                        color: #fff; /* 用户消息文字颜色 */
                        border-radius: 8px 2px 8px 8px; /* 圆角 */
                    }
                }
                .avatar {
                    width: 40px; /* 头像宽度 */
                    height: 40px; /* 头像高度 */
                    border-radius: 50%; /* 圆形头像 */
                    margin-right: 10px; /* 头像和消息内容之间的间距 */
                    margin-left: 10px; /* 头像和消息内容之间的间距 */
                }
                .bot-avatar {
                    order: 0; /* 头像在消息内容之前 */
                }
                .user-avatar {
                    order: 2; /* 头像在消息内容之后 */
                }
            }
        }
    }
    
}      
.chat-input-container{
    margin: 15px;
    z-index:3;
    li{
        width: 30px;
        height: 30px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        display: flex;
            .taskfont{
                font-size: 22px;
                line-height: 30px;
                display: inline-block;
            }
        }
        .input-container {
            display: flex;
            align-items: center;
            padding: 5px 18px 22px 0 ;
            border-radius: 10px;
            background-color: #f4f5f7;
            width: 100%;
        }
        .send-button {
            padding: 1px 6px;
            margin-left: 15px;
            border: none;
            background-color: #84c66a;
            color: #fff;
            cursor: pointer;
            font-size: 22px;
            border-radius: 50%;
        }
        .send-button:hover {
            background-color: #d8e3ef;
        }
} 
.user-input {
    flex: 1;
    margin-right: 10px;      /* 输入框与按钮之间的间距 */
            .el-input__inner {
                background-color: #f4f5f7;
                border: none;
            }
}

.aiassistant-setting-content{
    padding: 20px 70px;
}
.aiassistant-llm-list{
    padding: 10px;
    
}
.aiassistant-llm-list .llm-item-btn{
    margin-right:10px;
    width: 840px;
    max-width: 940px;
    height: 74px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    color: #333;
    line-height: 64px;
    cursor: pointer;
}
.new-chat-button{
    margin: 3px;

}
.new-chat-select{
    width:300px
}
.ToggleBtn{
    width: 650px;
    height: 50px;

}




.ivu-modal-wrap-aiass {
    position: relative;
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    overflow: auto;
    .ivu-modal-wrap-aiass-title {
        line-height: 40px;
        font-size: 20px;
        font-weight: 500;
        padding: 12px 30px;
        color: #303133;

        @media (max-width: 500px) {
            margin-right: 28px;
        }

    }
}
.ivu-modal-wrap-aiass-body {
    position: relative;
    flex: 1;
    padding: 8px 30px;
    .history-list {
        max-height: 1100px; /* 限制历史会话列表的高度 */
        overflow-y: auto; /* 超出时可滚动 */
            .history-item {
                display: flex;
                align-items: center; /* 垂直对齐 */
                padding: 10px;
                border-bottom: 1px solid #ddd;
                cursor: pointer; /* 鼠标悬停时显示为可点击 */
            }
            
            .history-title {
                font-weight: bold; /* 标题加粗 */
            }
            .history-avatar{
                width: 40px; /* 头像宽度 */
                height: 40px; /* 头像高度 */
                border-radius: 50%; /* 圆形头像 */
                margin: 10px; /* 头像和消息内容之间的间距 */
            }
            
            .last-message {
                width: 393px;
                white-space: nowrap; /* 不换行 */
                overflow: hidden; /* 隐藏超出部分 */
                text-overflow: ellipsis; /* 超出部分用省略号表示 */
            }
            
            .last-time {
                font-size: 0.8em; /* 时间文字缩小 */
                color: #888; /* 时间颜色 */
            }
    }
}



     
